*{
font-family: Arial, Helvetica, sans-serif ;

}


p{
color: rgb(98, 15, 15);
font-size: 18px;
}
input{
color: rgb(77, 8, 8);
font-size: 20px;
}
h1{
color: rgb(88, 15, 15);
font-size: 25px;
}
h2{
color: rgb(17, 160, 160);
font-size: 22px;

}
.paragraph{
  color: brown;
}




